body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Progress Bar */
.progress-text {
  font-size: 1.5rem; /* Größe der Schrift */
  font-weight: bold; /* Schriftstärke */
  color: #00008b; /* Farbe des Textes */
  padding-right: 0.5rem; /* Abstand zwischen Text und Fortschrittsleiste */
  display: flex; /* Verwendet Flexbox für die Vertikale Zentrierung */
  align-items: center; /* Zentriert den Text vertikal */
}

.progress-bar-container {
  display: flex; /* Verwendet Flexbox für horizontale Anordnung */
  align-items: center; /* Zentriert den Balken und Text vertikal */
  margin: 2rem auto;
  width: 75%;
}

.progress {
  padding: 7.5px;
  border-radius: 15px;
  background: rgb(169, 169, 169);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
  flex-grow: 1; /* Lässt die Fortschrittsleiste den verfügbaren Raum ausfüllen */
}

.progress-bar {
  height: 15px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #00008b, #0000ac);
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar {
  width: 5%; /* Set the progress */
  background-color: #ef476f;
  animation: progressAnimation 6s;
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 5%; /* Must be same as '.progress-moved .progress-bar' */
  }
}

/* Button */
.options {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.option {
  flex: 1;
  margin: 10px;
  padding: 0.5rem;
  border: 3px solid #333; /* Dickere Ränder hinzugefügt */
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s; /* Fügt eine Transformationsanimation hinzu */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Leichter Schatten für Tiefe */
}

.option img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.option:hover {
  transform: scale(1.05); /* Skaliert die Option leicht beim Hovern */
}

.option h2 {
  margin: 10px 0; /* Abstand zwischen Überschrift und Bild */
}

button {
  --border: 5px; /* the border width */
  --slant: 0.7em; /* control the slanted corners */
  --color: #00008b; /* the color */

  font-size: 1.5rem;
  padding: 0.4em 1.2em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--color);
  background: linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top
      right,
    linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3 * var(--border))
    calc(var(--slant) + 1.3 * var(--border));
  background-repeat: no-repeat;
  box-shadow: 0 0 0 200px inset var(--s, #0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: polygon(
    0 0,
    calc(100% - var(--slant)) 0,
    100% var(--slant),
    100% 100%,
    var(--slant) 100%,
    0 calc(100% - var(--slant))
  );
  transition: color var(--t, 0.3s), background-size 0.3s;
}
button:focus-visible {
  outline-offset: calc(-1 * var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}
button:hover,
button:active {
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}
button:active {
  --s: #0005;
  transition: none;
}

@media (max-width: 600px) {
  .options {
    flex-direction: column;
  }

  .option {
    margin-bottom: 10px;
  }
}
