RewriteEngine On

RewriteRule ^bildergalerie$ /src/html/bildergalerie.html [L,NC]
RewriteRule ^ueber-uns$ /src/html/ueber-uns.html [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L,QSA]
