body {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;
  height: 3.5rem;
}

.explanation {
  margin-top: 1rem;
  max-width: 50rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo img {
  height: 75px;
}

.navbar .nav-items {
  display: flex;
  flex-direction: row;
}

.navbar .nav-items a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.navbar .nav-items a:hover {
  text-decoration: underline;
}

header {
  background: rgb(255, 215, 48);
  color: #000000;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 15px;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex: 1; 
}

h1 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #e4e4e4;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #000000;
  color: #fff;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery .image-pair {
  display: flex;
  flex-direction: row;
}

.copy-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.copy-button:hover {
  background-color: rgb(255, 215, 48);
}

.copy-button:active {
  background-color: rgb(255, 215, 48);
}

.carousel {
  position: relative;
  max-width: 600px;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.5s ease;
}

.carousel-item img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 15px;
  margin: 50px;
  padding: 0px 20px;

}
.pricing-table{
 box-shadow: 0px 0px 18px #ccc;
 text-align: center;
 padding: 30px 0px;
 border-radius: 5px;
 position: relative;

}
.pricing-table .head {
  border-bottom:1px solid #eee;
  padding-bottom: 50px;
  transition: all 0.5s ease;
}
.pricing-table:hover .head{
 border-bottom:1px solid #8E2DE2;
 
}

.pricing-table .head .title{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

.pricing-table .content .price{
  background:linear-gradient(to right, #8E2DE2 0%, #4A00E0 100%);
  width: 90px;
  height: 90px;
  margin: auto;
  line-height: 90px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px #ccc;
  margin-top: -50px;
   transition: all 0.5s ease;
}
.pricing-table:hover .content .price{
  transform: scale(1.2);

}
.pricing-table .content .price h1{
  color:#fff;
  font-size: 15px;
  font-weight: 700;
}
.pricing-table .content ul{
 list-style-type: none;
 margin-bottom: 20px;
 padding-top: 10px;
}

.pricing-table .content ul li{
  margin: 20px 0px;
  font-size: 14px;
  color:#555;
}

.pricing-table .content .sign-up{
  background:linear-gradient(to right, #8E2DE2 0%, #4A00E0 100%);
  border-radius: 40px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}


.pricing-table .btn {
color: #fff;
padding: 14px 40px;
display: inline-block;
text-align: center;
font-weight: 600;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3 linear;
transition: all 0.3 linear;
border: none;
font-size: 14px;
text-transform: capitalize;
position: relative;
text-decoration: none;
  margin: 2px;
  z-index: 9999;
  text-decoration: none;
  border-radius:50px;

}

.pricing-table .btn:hover{
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.pricing-table .btn.bordered {
z-index: 50;
color: #333;
}
.pricing-table:hover .btn.bordered{
color:#fff !important;
}

.pricing-table .btn.bordered:after {
background: #fff none repeat scroll 0 0;
border-radius: 50px;
content: "";
height: 100%;
left: 0;
position: absolute;
top: 0;
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3 linear;
transition: all 0.3 linear;
width: 100%;
z-index: -1;	
-webkit-transform:scale(1);
-moz-transform:scale(1);
transform:scale(1);
}
.pricing-table:hover .btn.bordered:after{
opacity:0;
transform:scale(0);
}

@media (max-width: 600px) {
  .navbar .nav-items a {
    margin-left: 10px;
    font-size: 16px; 
  }
  main {
    padding: 10px;
  }
  .carousel {
    max-width: 325px;
  }
  .wrapper{
    grid-template-columns: 1fr;
  } 
}